body {
    font-family: "Noto Sans TC", "Apple LiGothic", "微軟正黑體", Arial, sans-serif;
}

.wrap {
    background: url(./img/background.jpeg) 0 0/100% auto repeat-y;
    margin-bottom: 0;
}

@media screen and (min-width:1400px) {
    .container {
        max-width: 960px;
    }
}

.start-logo {
    width: 100px;
    position: absolute;
    top: 35px;
    left: 20vw;
}

.start-slogan {
    width: 250px;
    position: absolute;
    top: 32px;
    left: calc(20vw + 120px);
}

.start-img {
    width: 310px;
    position: absolute;
    top: 95px;
    left: calc(20vw + 108px);
}

.banner-img {
    width: 100%;
}

.row {
    flex-direction: row !important;
    flex-wrap: nowrap;
}

.row-1st-paragf {
    justify-content: space-around;
}

.col-1st-paragf {
    flex: 0 0 40%;
}

.col-1st-paragf:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pregnant {
    height: auto;
    margin-bottom: 5px;
}

li.text {
    list-style: none;
    text-align: center;
}

.button-flexer {
    justify-content: center;
}

.trial-button {
    width: 225px;
    height: calc(3rem + 2px);
    border-radius: calc(1.5rem + 1px);
    background-color: #f88a8a;
    box-shadow: 0px 3px 10px #772405;
    font-size: large;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    line-height: calc(3rem + 2px);
}

.dot-flexer {
    justify-content: center;
    margin-top: 10px;
}

.dot {
    margin-right: 12px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #A7A0A0;
}

.dot:first-child {
    background: #FFB03A;
}

.dot:last-child {
    margin-right: 0;
}

.container-info {
    margin-top: 60px;
}

.caption {
    color: #cc6d00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}

.caption:after, .caption:before {
    display: inline-block;
    content: "";
    width: auto;
    -webkit-box-flex: 1;
    flex: 1;
    height: 0;
    border-top: 1px solid #cc6d00;
}

.info-box {
    display: flex;
    background: #fff;
    border-radius: 20px;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
}

.info {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
}

.info-box {
    align-items: center;
}

.info-title {
    display: flex;
    min-width: 100px;
    color: #2fafae;
    font-size: 20px;
    font-weight: 700;
}

.info-content {
    margin-left: 1rem;
}

.info-content>ol {
    padding-left: 1rem;
}

.container-pos {
    position: relative;
    min-height: 670px;
    margin-top: 110px;
    margin-bottom: 60px;
}

.package {
    height: 658px;
    position: absolute;
    left: 0;
    top: 0;
}

.wood {
    position: absolute;
    left: 0px;
    top: 350px;
}

.logo {
    width: 350px;
    position: absolute;
    left: 500px;
    top: 30px;
}

.slogan {
    width: 430px;
    position: absolute;
    left: 500px;
    top: 230px;
}

.text-pos {
    position: absolute;
    left: 500px;
    top: 380px;
    color: #FFF;
    text-shadow: 0 3px 3px rgb(71 39 6 / 50%);
}

.lower-alpha {
    list-style: lower-alpha;
}

.form-row {
    flex-wrap: nowrap !important;
    margin-bottom: 32px;
}

form>.form-group {
    margin-bottom: 53px;
}

.form-group>label {
    color: #62A9AC;
}

.form-control {
    border: 1px solid #62A9AC;
    border-radius: 0;
    margin-top: 10px;
}

.button-flexer2 {
    display: flex;
    justify-content: center;
}

.btn {
    width: 260px;
    height: 35px;
    background: #62A9AC;
    border-radius: 0;
}

.container:last-child {
    padding-bottom: 108px;
}

.footer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8E8D5;
    color: #AD7B43;
}

.flex-footer {
    display: flex;
}

.flex-footer:nth-child(1) {
    margin-top: 65px;
}

.flex-footer:last-child {
    margin-bottom: 65px;
}

.footer2 {
    background-color: #EDD2B3;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #AD7B43;
}

@media screen and (max-width: 760px) {
    .form-row {
        flex-wrap: wrap !important;
    }
}